@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
header{
    width: 100%;
    height: 600px;
    margin-bottom: 80px;
}
header nav{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
header nav h2{
    font-family:Azeret Mono ;

    Font-weight: 550;
    Font-size: 24px;
    margin-left: 120px;
}
header nav button{
    height: 45px;
    width: 170px;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 7px;
    margin-right: 120px;
}
.banner{
    width: 100%;
    height: 85% ;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;

}
.banner img{
    height: 220px;
    width: 220px;
    position: absolute;
    top: 5%;
}
.banner h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 26px;
    font-weight: 600;
    position: absolute;
    top: 53%;
}
.banner p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 350;
    position: absolute;
    bottom: 24%;
}
#btn{
    border-radius: 7px;
    width: 150px;
    height: 45px;
    font-family: Azeret Mono;
    font-size: 12px;
    color: white;
    background: rgb(13, 19, 33);
    position: absolute;
    bottom: 8%;

}
.hero-container{
    width: 72%;
    height: 900px;
    margin: auto;
}
.hero-title{
    height: 20%;
    width: 100%;
    text-align: center;
}
.hero-title h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}
.hero-title p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: .7;
    margin-top: 20px;
}
.hero-content-1{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hero-content-text{
    margin-left: 40px;
}
.hero-content-text h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 20px;
}
.hero-content-text p{
    font-family:  Azeret Mono;
    Font-weight: 300;
    Font-size:12px;
    margin-bottom: 20px;
}
#bton{
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    height: 30px;
    width: 100px;
    background-color: white;
}
.hero-content-image{
    margin-right: 100px;
}

.hero-content-image img{
    height: 180px;
    width: 200px;
}
.hero-content-2{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hero-content-2 .hero-content-text{
    margin-right: 120px;
    margin-left: 0%;
}
.hero-content-2 .hero-content-image{
    margin-left: 30px;
}
