@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
header{
    width: 100%;
    height: 600px;
}
header nav{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
header nav h2{
    font-family:Azeret Mono ;

    Font-weight: 550;
    Font-size: 24px;
    margin-left: 120px;
}
header nav button{
    height: 45px;
    width: 170px;
    background-color: white;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 7px;
    margin-right: 120px;
}
.banner{
    width: 100%;
    height: 85% ;
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;

}
.banner img{
    height: 220px;
    width: 220px;
    position: absolute;
    top: 5%;
}
.banner h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 26px;
    font-weight: 600;
    position: absolute;
    top: 53%;
}
.banner p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 350;
    position: absolute;
    bottom: 24%;
}
#btn{
    border-radius: 7px;
    width: 150px;
    height: 45px;
    font-family: Azeret Mono;
    font-size: 12px;
    color: white;
    background: rgb(13, 19, 33);
    position: absolute;
    bottom: 8%;

}